{% extends "main.html" %}
{% block content %}
<!-- Delete Page Start -->
<h2> 
	Are you sure you want to delete {{course.name}}? 
</h2>

<form action="{{url_for('deleteCourse', level_name=level.name, course_name=course.name)}}" method = "post">
	<button class="btn btn-default delete" id="submit" type="submit">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
	</button>
	<a href = "{{url_for('showLevels')}}">
		<button class="btn btn-default delete">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		</button>
	</a>
</form>
<!-- Delete Page End -->

{% endblock %}