{% extends "main.html" %}
{% block content %}
	
<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-0"></div>
	<!-- Levels Start -->
	<div class="col-md-3 col-sm-3 col-xs-5 level-list">
		<h1>
			Levels
		</h1>
		{% for level in levels %}
		<a href = "{{url_for('showLevel', level_name=level.name)}}">
			<p>
				{{level.name}}
			</p>
		</a>
		{% endfor %}
	</div>
	<!-- Levels End -->
	<!-- Latest Items Start -->
	<div class="col-md-7 col-sm-7 col-xs-7 course-list">
		<h1>
			Latest Items
		</h1>
		{% for course in courses %}
		<a href = "{{url_for('showCourse', level_name=course.level.name, course_name=course.name)}}">
			<p>
				{{course.name}}
			</p>
		</a>
		{% endfor %}
	</div>
	<!-- Latest Items End -->
	<div class="col-md-1 col-sm-1 col-xs-0"></div>
</div>
		
	
{% endblock %}